<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="daytimes">


<div id="morning">
  <img id="morning-img" src="/images/Morning.png"/>
</div>

<div id="noon">
  <img id="noon-img" src="/images/Midday.png"/>
</div>

<div id="night">
  <img id="night-img" src="/images/Night.png"/>
</div>

</div>

<div class="player">
  <i class="fa fa-minus"></i>
  <i id="play" class="fa fa-play"></i>
  <i class="fa fa-plus"></i>
</div>


<img src="/images/logo.png" class="logo">



<script type="text/javascript" src="/javascripts/levels.js">

</script>
<script src="/javascripts/get-m2x.js"></script>
